# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.python-version

# Pytest cache
.pytest_cache/

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
